.menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;

  &__list {
    display: flex;
    align-items: center;
    list-style: none;
  }

  &__item {
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    position: relative;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    padding: 5px;
    transition: .3s;
    overflow: hidden;

    &:after, &:before {
      content: '';
      position: absolute;
      right: -50%;
      bottom: 0;
      width: 50%;
      height: 2px;
      background-color: #fff;
      border-radius: 0 10px 10px 0;
      opacity: 0;
      transition: .3s;
    }

    &:before {
      right: auto;
      left: -50%;
      border-radius: 10px 0 0 10px;
    }

    &.active, &:hover {
      &:after {
        right: 0;
        opacity: 1;
      }

      &:before {
        left: 0;
        opacity: 1;
      }
    }
  }
}